<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content" class="container my-3">

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder" th:text="${welcomeMessage}">ㅇㅇㅇ사이트에 오신걸 환영합니다</h1>
        <p class="lead" th:text="${introMessage}">안내: 자기에게 맞는 스포츠 강좌를 ㅇㅇ사이트에서 알아보세요</p>
    </div>
</header>

<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
<!--                <h2>About this page</h2>-->
                <div class="text-center mb-4">
                    <img src="../img/고양이.webp" alt="Cute Cat" class="img-fluid" style="max-width: 40%; height: 50%; border-radius: 10px;">
                </div>
                <p class="lead" th:text="${aboutDescription}">
                    This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for your own landing page designs! This template features:
                </p>
                <ul>
                    <div class="parent" style="display: flex; justify-content: space-between; flex-direction: row;">
                        <div class="child" th:text="${feature1}" onclick="location.href='/course/trend'" style="cursor: pointer; display: flex; justify-content: center; align-items: center;font-size: 1.5em;">
                            스포트 트렌드 알아보기
                        </div>
                        <div class="space"></div>
                        <div class="child" th:text="${feature2}" onclick="location.href='/surveypage'" style="cursor: pointer; display: flex; justify-content: center; align-items: center;font-size: 1.5em;">
                            내게 맞는 스포츠 추천
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
</div>
</html>
