<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">

    <style>
        /* 네비게이션 바 높이만큼 전체 페이지 상단 여백 추가*/
<!--        body {-->
<!--            padding-top: 80px; /* 네비게이션 바 높이만큼 조정 (필요에 따라 변경) */-->
<!--        }-->
    </style>
    <title>Hello!</title>
</head>

<body>
<!-- 네비게이션바 -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content" style="margin-top: 800px;max-width:100%;"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- External JavaScript (hangjungdong.js) -->
<script type="application/javascript" src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
</body>

</html>