<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link href="/css/signup.css" rel="stylesheet" />
</head>
<body>
<a class="navbar-brand" th:href="@{/}"><h1>BBB</h1></a>

<div class="container my-3">
  <form th:action="@{/user/register}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <h1>회원가입</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">닉네임</label>
      <input type="text" th:field="*{userName}" class="form-control">
    </div>
    <div class="mb-3 checkbox-container">
      <label for="disabled" class="form-label">장애여부</label>
      <input type="checkbox" th:field="*{disabled}" value="true" class="form-control">
    </div>
    <button type="submit" id="btn1">회원가입</button>
  </form>
</div>
</body>
</html>
